services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: think-of-you-app
    ports:
      - "8080:8080"
    environment:
      - MONGO_HOST=mongodb
    depends_on:
      - mongodb

volumes:
  mongo-data:
